.container {
  margin-bottom: 100px;
}
.orange-bg{
  background-color: #fceae8;
  border-radius: 10px;
}
.carousel-item{
  padding: 20px 40px;
}
.price{
  color: #ff136f;
}
.buy-now-button {
  background-image: linear-gradient(to bottom, #ff589b 0%,#ff136f 100%);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 9px 25px;
  cursor: pointer;
  text-transform: uppercase;
}
.categories h1{
  color: #fff;
}
.categories img{
  width: 100px;
}
.cat1, .cat2, .cat3{
  padding: 10px 30px;
  border-radius: 10px;
}
.cat1{
  background-image: linear-gradient(to left, #e6b044 0%, #ad790f 100%);
}
.cat2{
  background-image: linear-gradient(to left, #ff589b 0%, #ff136f 100%);
}
.cat3{
  background-image: linear-gradient(to right, #0e0ae4 0%, #4b73e2 100%);
}
.card{
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgb(212, 212, 212);
}
.card-footer{
  background: #fff;
  border: none;
}
#subscribe{
  height: 300px;
}
footer{
  text-align: center;
}